label {
  width: 40px;
  height: 40px;
  background-color: tomato;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px 30px;
}
.hidden-text {
  display: none;
}
.closed {
  display: none;
}

input:checked + .hidden-text {
  display: block;
}
input:checked ~ label .closed {
  display: inline;
}
input:checked ~ label .opened {
  display: none;
}
